.home{

	&-header{
		position: relative;
		&::after {
			content: '';
		    position: absolute;
		    bottom: -54%;
		    left: 0;
		    width: 100%;
		    height: 90%;
		    background-image: url(../img/home-header-pattern.png);
		    background-repeat: no-repeat;
		    background-size: cover;
		    pointer-events: none;
		}
		.sc-wrap {
		    position: absolute;
		    top: 0;
		    left: 0;
		    width: 100%;
		    height: 100%;
		    padding: 100px 0;
		    z-index: 1;
		    display: flex;
		    align-items: center;
		}
		.el-title{
			font-family: 'Be Vietnam Pro';
			font-weight: 400;
			font-size: 140px;
			line-height: 140px;
			color: #000000;
			margin-bottom: 0;
		}
		.el-pattern__peoplefly{
			position: absolute;
		    top: 15%;
		    right: 12%;
		    width: 36%;
		    height: 60%;
		    background-image: url(../img/human-flying.png);
		    background-repeat: no-repeat;
		    background-size: contain;
		    pointer-events: none;
		    z-index: 1;
		    animation: Mousex3 5s infinite linear, lightAnimation2 3s infinite;
		}
		.el-pattern__planes{
			position: absolute;
		    top: 8%;
		    right: 0;
		    width: 18%;
		    height: 24%;
		    background-image: url(../img/planes.png);
		    background-repeat: no-repeat;
		    background-size: contain;
		    pointer-events: none;
		    z-index: 1;
		    animation: Mousex4 6s infinite linear, lightAnimation2 3s infinite;
		}
		.el-pattern__tiger{
			position: absolute;
		    bottom: -28%;
		    right: 24%;
		    width: 13%;
		    height: 44%;
		    background-image: url(../img/home-header-pattern-tiger.png);
		    background-repeat: no-repeat;
		    background-size: contain;
		    pointer-events: none;
		    z-index: 1;
		    animation: lightAnimation2 6s infinite;
		}
		.el-pattern__coin{
			position: absolute;
		    bottom: -25%;
		    right: 5%;
		    width: 44%;
		    height: 24%;
		    background-image: url(../img/home-header-pattern2.png);
		    background-repeat: no-repeat;
		    background-size: contain;
		    pointer-events: none;
		    z-index: 1;
		    animation: lightAnimation2 3s infinite;
		}
		.el-pattern__pin{
			position: absolute;
		    bottom: -5%;
		    left: 38%;
		    width: 112px;
		    height: 140px;
		    background-image: url(../img/icon-map-pin.svg);
		    background-repeat: no-repeat;
		    background-size: contain;
		    pointer-events: none;
		    z-index: 2;
		    animation: Mousex 5s infinite linear, lightAnimation 3s infinite;
		    &.-s2{
		    	left: auto;
			    right: 4%;
			    bottom: -30%;
			    animation: Mousex2 5s infinite linear, lightAnimation 4s infinite;
		    }
		}
	}
	&-about{
		position: relative;
		padding: 200px 0 80px;
		.el-box{
			padding: 90px 100px;
			background: rgba(180, 187, 255, 0.08);
			backdrop-filter: blur(60px);
			-webkit-backdrop-filter: blur(60px);
			border-radius: 48px;
		}
		.sc-header__title{
			position: relative;
			padding-right:80px;
			margin-right: 80px;
			&::before {
				content: '';
				width: 1px;
				height: 36px;
				background: #DBDEE2;;
				position: absolute;
				top: 50%;
				right: 0;
				transform: translateY(-50%);
			}
		}

	}

	&-elements{
		position: relative;
		padding: 80px 0 160px;
		&::after {
			content: '';
			position: absolute;
			top: 40%;
			left: 0;
			width: 100%;
			height: 98%;
			background-image: url(../img/elements-bg-01.png);
			background-repeat: no-repeat;
			background-size: contain;
			z-index: -2;
			pointer-events: none;
			animation: Mousex 5s linear infinite;
		}
		.sc-header__title{
			font-weight: 400;
			font-size: 90px;
			line-height: 114px;
			color: #000000;
			.-number{
				font-family: 'Be Vietnam Pro';
				font-style: normal;
				font-weight: 300;
				font-size: 140px;
				line-height: 177px;

				/* linear */

				background: linear-gradient(85.15deg, #F44369 0%, #3D2DFF 152.74%);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				background-clip: text;
				text-fill-color: transparent;
			}
		}

		.el-items{
			.el-item{
				margin-bottom: -80px;
				&__thumb {
					position: relative;
					&__canvas{
						content: '';
					    position: absolute;
					    top: 0;
					    left: 0;
					    width: 100%;
					    max-width: 600px;
					    height: 100%;
					    max-height: 600px;
					    background-repeat: no-repeat;
					    background-size: contain;
					    z-index: -1;
					    pointer-events: none;
					}
				}
				.dnfix__thumb{
					padding-top: 88%;
				}
				&__title{
					font-family: 'Be Vietnam Pro';
					font-weight: 600;
					font-size: 44px;
					line-height: 54px;
					text-transform: capitalize;
					color: #F44369;
					margin-bottom: 34px;
				}
			}
		}
	}

	&-nft{
		position: relative;
		padding: 100px 0 150px;
		&::after {
			content: '';
		    position: absolute;
		    bottom: 0;
		    left: 0;
		    width: 29%;
		    height: 80%;
		    background-image: url(../img/dao-logo.png);
		    background-repeat: no-repeat;
		    background-size: contain;
		    pointer-events: none;
		    background-position: bottom left;
		}
		.slider-item{
			padding: 100px 32px;
			background: linear-gradient(180deg, rgba(248, 224, 224, 0.15) 0%, rgba(211, 210, 255, 0.15) 100%);
			backdrop-filter: blur(60px);
			-webkit-backdrop-filter: blur(60px);
			border-radius: 48px;
			border: 2px solid #D3D2FF;
			.dnfix__thumb{
				padding-top: 100%;
			}
			&__wrap{

			}
		}
	}

	&-dao{
		position: relative;
		.sc-header{

		}
		.el__col{
			position: relative;
			&:first-child{
				padding-left: var(--container-half-space);
				padding-right: 80px;
				background: linear-gradient(85.15deg, #F44369 0%, #3D2DFF 152.74%);
				&:before{
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 30%;
					height: 100%;
					background-image: url(../img/dao-logo.png);
					background-repeat: no-repeat;
					background-size: contain;
					z-index: -1;
					pointer-events: none;
				}
			}
		}
		.nav-dao{
			position: absolute;
			top: 0;
			left: 0;
			width: 240px;
			height: 100%;
			z-index: 1;
			.nav-item{
				width: 100%;
				height: 20%;
				&:not(:last-child){
					&:before{
						content: '';
						position: absolute;
						bottom: 0;
						left: 0;
						width: 100%;
						height: 1px;
						background: linear-gradient(90deg, rgba(0, 0, 0, 0.73) 0%, rgba(0, 0, 0, 0) 100%);
						opacity: .3;
					}
				}
			}
			.nav-link{
				position: relative;
				width: 100%;
				height: 100%;
				padding: 24px 14px;
				font-family: 'Be Vietnam Pro';
				font-weight: 700;
				font-size: 20px;
				line-height: 28px;
				text-align: center;
				text-transform: capitalize;
				color: #FFFFFF;
				border: 0;
				background: linear-gradient(90deg, rgba(0, 0, 0, 0.73) 0%, rgba(0, 0, 0, 0) 100%);
				&:before{
					content: '';
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					width: 4px;
					height: 10%;
					margin: auto;
					background-color: transparent;
					transition: all .5s;
				}
				&.active{
					color: #F44369;
					&:before{
						height: 100%;
						background-color: #F44369;
					}
				}
			}
		}
		.el-tab__item{
			.dnfix__thumb{
				min-height: 350px;
				padding-top: 56%;
			}
		}
		.dao-arrow {
		    position: absolute;
		    bottom: 30px;
		    left: -120px;
		    >*{
		    	cursor: pointer;
		    	&.disable{
		    		opacity: .3;
		    	}
		    }
		}
	}

	&-features{
		position: relative;
		padding: 80px 0 20px;
		&:before{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-image: url(../img/features-bg.png);
			background-repeat: no-repeat;
			background-size: cover;
			background-position: top;
			z-index: -1;
			pointer-events: none;
		}

		.sc-content{
			position: relative;
			z-index: 1;
		}
		.el-items{
			margin-bottom: 100px;
		}
		.el-item{
			margin-bottom: 24px;
			&:hover{
				.dnfix__thumb{
					filter: grayscale(0);
				}
			}
			.dnfix__thumb{
				width: 90px;
				padding-top: 90px;
				filter: grayscale(100%);
			}
			&__thumb{
				margin-bottom: 48px;

			}
			&__title{
				font-family: 'Be Vietnam Pro';
				font-weight: 600;
				font-size: 24px;
				line-height: 34px;
				color: #000000;
				margin-bottom: 16px;
			}
		}

		.el-box{
			&__pattern{
				width: 68%;
				animation: Mousex 6s linear infinite, lightAnimation2 4s linear infinite;
				.dnfix__thumb{
					padding-top: 78%;
				}
			}
			// &__pattern:before {
			//     content: '';
			//     position: absolute;
			//     bottom: -22%;
			//     right: 0;
			//     width: 30%;
			//     max-width: 600px;
			//     height: 55%;
			//     background-image: url(../img/features-pattern.png);
			//     background-repeat: no-repeat;
			//     background-size: contain;
			//     z-index: 1;
			//     pointer-events: none;
			//     animation: Mousex 5s linear infinite, lightAnimation2 3s linear infinite;
			// }
			&__thumb {
			    width: 120%;
			    position: relative;
			    left: -10%;
			}
			&__title{
				font-family: 'Be Vietnam Pro';
				font-weight: 600;
				font-size: 90px;
				line-height: 90px;
				background: linear-gradient(85.15deg, #F44369 0%, #3D2DFF 152.74%);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				background-clip: text;
				text-fill-color: transparent;
				margin-bottom: 55px;
			}
			&__excerpt{
				font-family: 'Poppins';
				font-weight: 700;
				color: #000000;
			}
		}
	}

	&-team{
		position: relative;
		padding: 100px 0;
		background-repeat: no-repeat;
		background-size:cover;


		.slider-item{
			background: #FFFFFF;
			border-radius: 48px;
			overflow: hidden;
			.dnfix__thumb{
				padding-top: 100%;
				filter: grayscale(100%);
			}
			&__meta{
				padding: 26px;
			}
			&__title{
				font-family: 'Be Vietnam Pro';
				font-weight: 600;
				font-size: 24px;
				line-height: 34px;
				color: #000000;
			}
			&__sub{
				font-size: 14px;
				line-height: 22px;
				color: #000000;
			}
			&__social{
				margin-top: 24px;
				i{
					width: 20px;
					height: 20px;
					margin: 0 8px;
					&:hover{
						&:before{
							background-color: #097afe;
						}
					}
				}
			}
			&:hover{
				.dnfix__thumb{
					filter: grayscale(0);
				}
			}
		}
		.flickity-page-dots .dot {
		    background: rgba(255, 255, 255, .1);
		    &.is-selected, &:hover {
			    background: #fff;
			}
		}

	}

	&-roadmap{
		position: relative;
		padding: 100px 0 0;
		.sc-header {
		    margin-bottom: 130px;
		}
		.el-planes{
			position: absolute;
		    top: 0;
		    right: 0;
		    width: 18%;
			height: 28%;
		    background-image: url(../img/planes.png);
		    background-repeat: no-repeat;
		    background-size: contain;
		    animation: Mousex 4s linear infinite, lightAnimation2 3s linear infinite;
		}
		.sc-header{
			margin-bottom: 150px;
		}
		.el__col{
			&:nth-child(2){
				.el-item{
					top: -26%;
				}
			}
			&:nth-child(3){
				.el-item{
					top: 25%;
				}
			}
			&:nth-child(4){
				.el-item{
					top: 50%;
				}
			}
			&:nth-child(2), &:nth-child(4){
				// .el-item:before{
				// 	animation: Mousex2 2s linear infinite, lightAnimation 2s linear infinite;
				// }
			}
		}
		.el-item{
			position: relative;
			padding: 32px;
			background: #FFFFFF;
			box-shadow: 0px 9px 29px rgba(0, 0, 0, 0.18);
			border-radius: 16px;
			z-index: 1;
			transition: all .5s;
			&:hover{
				transform: translateY(-10px);
			}
			&__title{
				font-family: 'Be Vietnam Pro';
				font-weight: 600;
				font-size: 24px;
				line-height: 34px;
				color: #000000;
				margin-bottom: 8px;
			}
			// &:before{
			// 	content: '';
			// 	position: absolute;
			// 	bottom: -140px;
			// 	left: 0;
			// 	right: 0;
			// 	margin: auto;
			// 	width: 90px;
			// 	height: 112px;
			// 	background-image: url(../img/icon-map-pin.svg);
			// 	background-repeat: no-repeat;
			// 	background-size: contain;
			// 	z-index: 1;
			// 	pointer-events: none;
			// 	animation: Mousex 2s linear infinite, lightAnimation 2s linear infinite;
			// }
		}
		.el-road{
			position: relative;
			width: 100%;
			padding-top: 21%;
			background-image: url(../img/roadmap-road.svg);
			background-repeat: no-repeat;
			background-size:cover;
			&__wrap{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				&:after {
				    content: '';
				    position: absolute;
				    bottom: -23%;
				    left: 0;
				    width: 100%;
				    height: 45%;
				    pointer-events: none;
				    z-index: 2;
				        background: linear-gradient(179.81deg, rgba(48,76,155,0) 31.51%, #eef1fd 49.31%, rgba(238, 241, 253, .4) 77.28%, rgba(46,20,64,0) 99.83%);
				}
			}
			&-pin{
				position: relative;
				top: 40%;
				height: 112px;

				&:before{
					content: '';
					position: absolute;
					bottom: 0px;
					left: 0;
					right: 0;
					margin: auto;
					width: 90px;
					height: 112px;
					background-image: url(../img/icon-map-pin.svg);
					background-repeat: no-repeat;
					background-size: contain;
					z-index: 1;
					pointer-events: none;
					animation: Mousex 2s linear infinite, lightAnimation 2s linear infinite;
				}

				&.-s2{
					top: -25%;
				}
				&.-s3{
					top: 78%;
				}
				&.-s4{
					top: 123%;
				}

				&.-s2:before, &.-s4:before{
					animation: Mousex2 2s linear infinite, lightAnimation 2s linear infinite;
				}
			}

			&__partern{
				&:before{
					content: '';
				    position: absolute;
				    top: -42%;
				    left: 0;
				    width: 12%;
				    height: 65%;
				    background-image: url(../img/road-tiger-left.png);
				    background-repeat: no-repeat;
				    background-size: contain;
				    pointer-events: none;
				    animation: Mousex 6s linear infinite, lightAnimation 6s linear infinite;
				}
				&:after{
					content: '';
					position: absolute;
					top: -34%;
					right: 0;
					width: 12%;
				    height: 70%;
					background-image: url(../img/road-tiger-right.png);
					background-repeat: no-repeat;
					background-size: contain;
					pointer-events: none;
					animation: Mousex2 6s linear infinite, lightAnimation 6s linear infinite;
				}
			}
		}
	}

	&-token{
		position: relative;
		padding: 100px 0 140px;
		background-image: url(../img/token-bg.png);
		background-repeat: no-repeat;
		background-size:cover;
		background-color: #eef1fd;
		.sc-header__marquee{
			color: #E9ECF9;
		}
		.sc-content{
			width: 542px;
			height: 542px;
			margin: 120px auto 0;
			z-index: 1;
		}
		.el-box{
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 542px;
			height: 542px;
			margin: auto;
			background-image: url(../img/token-circle-out.png);
			background-repeat: no-repeat;
			background-size:contain;
			z-index: 1;
			&:before{
				content: '';
			    position: absolute;
			    top: 9%;
				left: 10%;
			    width: 82%;
			    height: 82%;
			    margin: auto;
			    background-image: url(../img/token-circle.png);
			    background-repeat: no-repeat;
			    background-size: contain;
			    z-index: -1;
			    pointer-events: none;
			   	-webkit-animation: 2s linear infinite spinner-border;
    			animation: 2s linear infinite spinner-border;
			}
			&__logo{
				animation: suntory-alo-circle-img-anim 2s infinite;
			}
		}

		.el-item{
			position: absolute;
			font-weight: 400;
			font-size: 18px;
			line-height: 34px;
			color: #000000;
			&:before{
    			content: '';
    			position: absolute;
    			background-repeat: no-repeat;
    			background-size: contain;
    			pointer-events: none;
    		}
			.-number{
				margin-top: 6px;
				font-weight: 700;
				font-size: 48px;
				line-height: 34px;
				color: #DE3184;
			}
			&.-s1 {
			    top: -16%;
    			left: 30%;
    			&:before{
    				width: 38px;
				    height: 84px;
				    right: -38px;
				    top: 55px;
    				background-image: url(../img/roadmap-line-01.svg);
    			}
			}
			&.-s2 {
			    top: 40%;
    			left: -25%;
    			&:before{
    				width: 90px;
				    height: 30px;
				    right: -90px;
				    top: 55px;
    				background-image: url(../img/roadmap-line-02.svg);
    			}
			}
			&.-s3 {
			    top: -4%;
    			right: -9%;
    			&:before{
    				width: 69px;
				    height: 53px;
				    left: -69px;
				    top: 55px;
    				background-image: url(../img/roadmap-line-03.svg);
    			}
			}
			&.-s4 {
			    top: 8%;
    			left: -20%;
    			&:before{
    				width: 72px;
				    height: 42px;
				    right: -72px;
				    top: 55px;
    				background-image: url(../img/roadmap-line-04.svg);
    			}
			}
			&.-s5 {
			    top: 12%;
    			right: -18%;
    			&:before{
    				width: 79px;
				    height: 11px;
				    left: -90px;
				    top: 55px;
    				background-image: url(../img/roadmap-line-05.svg);
    			}
			}
			&.-s6 {
			    top: 36%;
    			right: -30%;
    			&:before{
    				width: 65px;
				    height: 25px;
				    left: -65px;
				    top: 30px;
    				background-image: url(../img/roadmap-line-06.svg);
    			}
			}
			&.-s7 {
			   	bottom: -3%;
    			right: -5%;
    			&:before{
    				width: 73px;
				    height: 63px;
				    left: -80px;
				    top: 0;
    				background-image: url(../img/roadmap-line-07.svg);
    			}
			}
			&.-s8 {
			    bottom: 19%;
    			left: -17%;
    			&:before{
    				width: 96px;
				    height: 30px;
				    right: -100px;
				    top: 26px;
    				background-image: url(../img/roadmap-line-08.svg);
    			}
			}
		}
	}

	@media (max-width: 1799px){
		&-roadmap{
			.el__col:nth-child(4) .el-item {
			    top: 30%;
			}

			.el-road{

				&-pin{
					top: 22%;
					&.-s2{
						top: -25%;
					}
					&.-s3{
						top: 78%;
					}
					&.-s4{
						top: 82%;
					}
				}
			}
		}
	}
	@media (max-width: 1699px){
		&-roadmap{

			.el__col:nth-child(4) .el-item {
			    top: 22%;
			}
		}
	}
	@media (max-width: 1599px){
		&-features{
			// .el-box__pattern:before{
			//     bottom: -30%;
			// }
		}
		&-roadmap{
			.el__col:nth-child(3) .el-item {
			    top: 0%;
			}
			.el-road{
				&-pin{
					top: 10%;
					&.-s2{
						top: -45%;
					}
					&.-s3{
						top: 61%;
					}
					&.-s4{
						top: 40%;
					}
				}
			}
		}
	}
	@media (max-width: 1499px){
		&-roadmap{
			.el__col:nth-child(1) .el-item {
			    top: -8%;
			}
			.el__col:nth-child(4) .el-item {
			    top: 9%;
			}
		}
	}
	@media (max-width: 1399px){
		&-header{
			.el-title {
			    font-size: 120px;
			    line-height: 120px;
			}
		}
		&-about{
			.sc-header__title {
			    padding-right: 60px;
			    margin-right: 60px;
			}
			.el-box {
			    padding: 80px 60px;
			}
		}
		&-elements{
			.sc-header__title {
			    font-size: 70px;
			    line-height: 80px;
			    .-number {
				    font-size: 120px;
				    line-height: 120px;
				}
			}

			.el-items{
				.el-item__title {
				    font-size: 40px;
				    line-height: 48px;
				}
			}

		}
		&-dao{
			.nav-dao .nav-link {
			    padding: 10px 12px;
			    font-size: 16px;
			    line-height: 26px;
			}
		}
		&-features{
			padding: 80px 0 20px;

			.el-item__title {
			    font-size: 22px;
			    line-height: 30px;
			}
			.el-item__excerpt {
			    font-size: 16px;
			}
			.el-box__title {
			    font-size: 80px;
			    line-height: 86px;
			}
			.el-box__thumb {
			    width: 100%;
			    left: 0%;
			}

		}
		&-team{
			.slider-item__title {
			    font-size: 20px;
			    line-height: 34px;
			}
		}
		&-roadmap{
			.el__col:nth-child(1) .el-item {
			    top: -18%;
			}
			.el__col:nth-child(2) .el-item {
			    top: -32%;
			}
			.el__col:nth-child(3) .el-item {
			    top: 2%;
			}
			.el__col:nth-child(4) .el-item {
			    top: 8%;
			}
			.el-road{
				&-pin{
					top: -17%;
					&:before {
					    width: 60px;
					    height: 75px;
					}
					// &.-s2{
					// 	top: -45%;
					// }
					&.-s3{
						top: 33%;
					}
					&.-s4{
						top: 16%;
					}
				}
			}


		}

	}
	@media (max-width: 1199px){
		&-header{
			.ratio {
			    min-height: 600px;
			}
			.el-title {
			    font-size: 80px;
			    line-height: 90px;
			}
			.el-pattern__planes{
				top: 15%;
			}
		}
		&-about {
		    padding: 200px 0 80px;
		    .el-box {
			    padding: 60px 40px;
			}
		}
		&-elements{
			// padding: 80px 0;
			.sc-header__title {
			    font-size: 60px;
			    line-height: 64px;
			    .-number {
				    font-size: 100px;
				    line-height: 100px;
				}
			}

			.el-items{
				.el-item__title {
				    font-size: 32px;
				    line-height: 38px;
				    margin-bottom: 24px;
				}
				.el-item__thumb__canvas {
				    width: 100%;
				    height: 100%;
				}
			}
		}
		&-nft {
		    padding: 80px 0 120px;
		}
		&-dao{
			.nav-dao {
			    width: 200px;
			    .nav-link {
				    padding: 2px 8px;
				    font-size: 14px;
				    line-height: 22px;
				}
			}
		}
		&-features{
			.el-box__title {
			    font-size: 60px;
			    line-height: 72px;
			}
			.el-item__title {
			    font-size: 18px;
			    line-height: 24px;
			    margin-bottom: 8px;
			}
			.el-item__excerpt {
			    font-size: 14px;
			}
			.el-box__pattern:before{
			    bottom: -40%;
			    right: -1%;
			}
		}
		&-team {
		    padding: 80px 0;
		    .slider-item__meta {
			    padding: 12px;
			}
			.slider-item__social {
			    margin-top: 12px;
			}
		}
		&-roadmap {
		    padding: 80px 0 0;
		    .sc-header {
			    margin-bottom: 70px;
			}
		    .el-item {
			    padding: 24px;
			    &:before {
				    bottom: -80px;
				    width: 50px;
				    height: 60px;
				}
			}
		    .el-item__title {
			    font-size: 20px;
			    line-height: 30px;
			}
		    .el-item__excerpt {
			    font-size: 14px;
			}
			.el__col:nth-child(1) .el-item {
			    top: 2%;
			}
			.el__col:nth-child(2) .el-item {
			    top: -13%;
			}
			.el__col:nth-child(3) .el-item {
			    top: 15%;
			}
			.el__col:nth-child(4) .el-item {
			    top: 26%;
			}

			.el-road{
				&-pin{
					top: -38%;
					&:before {
					    width: 50px;
					    height: 60px;
					}
					&.-s2{
						top: -59%;
					}
					&.-s3{
						top: 2%;
					}
					&.-s4{
						top: -13%;
					}
				}
			}

		}
		&-token {
		    padding: 80px 0;
		    .el-item .-number {
			    font-size: 32px;
			    line-height: 28px;
			}
			.el-item.-s2 {
			    top: 40%;
			    left: -18%;
			}
			.el-item.-s7 {
			    bottom: -1%;
			    right: -5%;
			}
		}

	}
	@media (max-width: 1099px){
		&-roadmap{
			.el__col:nth-child(4) .el-item {
			    top: 16%;
			}
		}
	}
	@media (max-width: 991px){
		&-header{
			.el-pattern__pin {
			    width: 70px;
			    height: 80px;
			   	&.-s2 {
				    right: 4%;
				    bottom: -22%;
				}
			}


		}
		&-about{
			padding: 200px 0 40px;
			.sc-header__title {
			    padding-right: 40px;
			    margin-right: 40px;
			}
			.el-box {
			    padding: 40px 30px;
			}
		}
		&-elements{
			padding: 60px 0 100px;
			.sc-header__title {
			    font-size: 44px;
			    line-height: 50px;
			    .-number {
				    font-size: 80px;
				    line-height: 80px;
				}
			}
			.el-items{
				.el-item {
				    margin-bottom: 0;
				}
				.el-item__title {
				    font-size: 26px;
				    line-height: 32px;
				    margin-bottom: 16px;
				}
				.el-item__excerpt {
				    font-size: 16px;
				}
			}

		}
		&-dao{
			.dao-arrow {
			    bottom: 16px;
			    left: -90px;
			    i:before {
				    width: 32px;
				    height: 32px;
				}
			}
		}
		&-nft{
			padding: 60px 0 100px;
			.slider-item {
			    padding: 40px 20px;
			}
		}
		&-features{
			padding: 60px 0 20px;

			.el-box__title {
			    font-size: 50px;
			    line-height: 60px;
			    margin-bottom: 30px;
			}
			.el-box__excerpt {
			    font-size: 14px;
			}
		}
		&-team {
		    padding: 60px 0;
		}
		&-roadmap{
    		padding: 60px 0 0;
			.el-item {
			    padding: 16px;
			    &:before {
				    bottom: -60px;
				    width: 40px;
				    height: 48px;
				}
			    &__excerpt {
				    font-size: 12px;
				}
			}
			.el__col:nth-child(1) .el-item {
			    top: -15%;
			}
			.el__col:nth-child(2) .el-item {
			    top: -30%;
			}
			.el__col:nth-child(4) .el-item {
			    top: -2%;
			}
			.el-road{
				&-pin{
					top: -48%;
					&:before {
					    width: 50px;
					    height: 60px;
					}
					&.-s2{
						top: -69%;
					}
					&.-s3{
						top: -15%;
					}
					&.-s4{
						top: -37%;
					}
				}
			}

		}
		&-token{
			.sc-content{
				width: 420px;
				height: 420px;
			}
			.el-box {
			    width: 420px;
			    height: 420px;
			}
			.el-item {
			    font-size: 14px;
			    line-height: 24px;
			    &.-s1:before {
				    width: 38px;
				    height: 60px;
				    right: -38px;
				    top: 42px;
				}
				&.-s2:before {
				    width: 50px;
				    height: 30px;
				    right: -50px;
				    top: 41px;
				}
				&.-s3:before {
				    width: 69px;
				    height: 40px;
				    left: -69px;
				    top: 40px;
				}
				&.-s4:before {
				    width: 50px;
				    height: 42px;
				    right: -50px;
				    top: 43px;
				}
				&.-s5:before {
				    width: 63px;
				    height: 11px;
				    left: -68px;
				    top: 41px;
				}
				&.-s6:before {
				    width: 50px;
				    height: 25px;
				    left: -50px;
				    top: 26px;
				}
				&.-s7:before {
				    width: 50px;
				    height: 63px;
				    left: -50px;
				    top: 0;
				}
				&.-s8:before {
				    width: 70px;
				    height: 30px;
				    right: -77px;
				    top: 26px;
				}
			}
		}
	}
	@media (max-width: 767px){
		&-elements {
		    padding: 60px 0 80px;
		    .sc-header__title {
			    font-size: 36px;
			    line-height: 40px;
			    .-number {
				    font-size: 60px;
				    line-height: 60px;
				}
			}
			.el-items .el-item__thumb {
			    max-width: 400px;
			    margin: auto;
			}
		}
		&-team {
		    padding: 60px 0 80px;
		}
		&-token{
			.sc-content{
				width: 360px;
				height: 360px;
			}
			.el-box {
			    width: 360px;
			    height: 360px;
			    &__logo{
					max-width: 80px;
				}
			}

		}
		&-dao{
			.el__col:first-child {
			    padding: 50px 1.5rem;
			}
			.dao-arrow {
			    left: 1.5rem;
			    right: 1.5rem;
			    z-index: 1;
			    bottom: 50%;
			    transform: translateY(50%);
			    justify-content: space-between;
			}
			.nav-dao {
			    width: 100%;
			    pointer-events: none;
			    .nav-link {
			    	font-size: 20px;
				    display: none;
				    &:before{
				    	display: none;
				    }
				    &.active {
					    display: block;
					    color: #fff;
					    width: 100%;
					    height: auto;
    					padding: 20px 0;
					    position: absolute;
					    bottom: 0;
					    left: 0;
					    background: transparent;
					}
				}
			}

		}
		&-features{
			// .el-box__pattern:before{
			//     bottom: auto;
			//     top: -13%;
			// }
			.el-box__pattern {
			    width: 42%;
			    position: absolute;
			    top: -15%;
			    right: 0;
			}
		}

		&-roadmap{
			.sc-header {
			    margin-bottom: 20px;
			}
			.roadmap-slider{
				--bs-gutter-x: 30px;
			    margin-right: calc(var(--bs-gutter-x) * -.5);
			    margin-left: calc(var(--bs-gutter-x) * -.5);
			    margin-bottom: -80px;
			    .el__col{
			    	padding: 30px 0 120px;
			        padding-right: calc(var(--bs-gutter-x) * .5);
			        padding-left: calc(var(--bs-gutter-x) * .5);
			    }
			    .el-item {
				    box-shadow: 0px 9px 14px rgba(0, 0, 0, .18);
				}
			}
			.el-road-pin {
			    top: -62%;
			}
			.el-road-pin.-s2 {
			    top: -26%;
			}
			// .flickity-button {
			//     top: calc(50% - -90px);
			// }
		}
	}
	@media (max-width: 575px){
		&-header{
			.ratio {
			    min-height: 500px;
			}
			.el-title {
			    font-size: 48px;
			    line-height: 48px;
			}
			&::after {
			    bottom: -25%;
			    height: 50%;
			}
		}
		&-elements{
			&::after {
			    content: '';
			    position: absolute;
			    top: 62%;
			    left: 0;
			    width: 100%;
			    height: 20%;
			    background-image: url(../img/elements-bg-01.png);
			    background-repeat: no-repeat;
			    background-size: contain;
			    z-index: -2;
			    pointer-events: none;
			}
		}
		&-about{
			padding: 0px 0 40px;
			z-index: 2;
			.sc-header__title {
			    padding-right: 0;
			    margin-right: 0;
			    padding-bottom: 10px;
			    &::before {
				    width: 36px;
				    height: 1px;
				    left: 0;
				    margin: auto;
				    top: auto;
				    bottom: 0px;
				}
			}
		}
		&-dao{
			.el-tab__item .dnfix__thumb {
			    min-height: 210px;
			}
		}
		&-features{
    		padding: 60px 0 20px;

			.el-box__title {
			    font-size: 44px;
			    line-height: 52px;
			    margin-bottom: 30px;
			}
			.el-item{
				display: flex;
				.dnfix__thumb {
				    width: 46px;
				    padding-top: 46px;
				}
			}
			.el-item__thumb {
			    margin-bottom: 0;
			    margin-right: 24px;
			}
		}
		&-token{
			padding: 80px 0 100px;
			.sc-content{
				width: 100%;
				height: 100%;
				margin: 60px auto 0;
			}
			.el-road {
			    padding-top: 48%;
			    background-size: cover;
			}
			.el-box {
			    width: 320px;
			    height: 320px;
			    &__logo{
			    	max-width: 74px;
			    }
			}
			.el-texts{
				display: flex;
				align-items: center;
				flex-wrap: wrap;
			}
			.el-item {
				position: relative;
				width: 33.33333%;
			    font-size: 14px;
			    line-height: 24px;
			    top: 0!important;
			    left: auto!important;
			    right: auto!important;
			    margin-bottom: 16px;
			    &::before {
			    	display: none;
			    }
			    .-number {
				    font-size: 24px;
				    line-height: 28px;
				}
			}
		}
		&-roadmap{
			.el-item {
			    max-width: 280px;
			    margin: auto;
			}
			.el-road {
			    padding-top: 40%;
			}
		}

	}
}