$color_primary:#E09B0F;$color_secondary:#BEE274;
.-color-primary{color:$color_primary;}

//Default
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    font-family: 'Poppins', sans-serif;
    color: #000;
    font-weight: 300;
    font-size: 18px;
    line-height: normal;
    position: relative;
    background: #fff;
    letter-spacing: 0.01em;
    --header-height:86px;
    --container: 1386px;
    --container-space: calc( (100vw - var(--container) ) );
    --container-half-space: calc( var(--container-space)/2 );
    @media (max-width: 1599px){
        --container: 1224px;
    }
    @media (max-width: 1399px){
        --container: 1124px;
    }
    @media (max-width: 1199px){
        --container: 960px;
    }
    @media (max-width: 991px){
        --container: 720px;
    }
}

a, a:hover {
    color: #FFECA7;
    text-decoration: none;
    // transition: all 0.3s;

}

h1,h2,h3,h4,h5,h6 {
    font-weight: 500;
}

ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
}
a {
    outline: none;
}
strong{
    font-weight: 700;
}
hr{
    background-color: #512B35;
    opacity: 1;
}
.color-pink{
    color : #F44369!important;
}
.ratio > * {
    object-fit: contain;
}
.ratio.-cover > * {
    object-fit: cover;
}
.-color-primary{
    color: $color_primary;
}

.fade:not(.show) {
    opacity: .5;
}

.btn{
    position: relative;
    z-index: 1;
    display: inline-block;
    min-width: 180px;
    padding: 12px 20px;
    border: 0;
    background: linear-gradient(85.15deg, #F44369 0%, #3D2DFF 152.74%);
    border-radius: 100px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
    transition: all .5s;
    &:hover{
        border-color: #40160E;
        color: #fff;
        -webkit-filter:brightness(1.25);filter:brightness(1.25)
    }
    &.-medium{
        display: inline-flex;
        align-items: center;
        justify-content: center;

        min-height: 51px;
        font-size: 18px;
        padding: 11px 20px;
    }
    &-primary{
        text-transform: initial;
        &:hover {
            color: #fff;
            background-color: #6a822a;
            border-color: #6a822a;
        }
    }


    @media (max-width:991px){

    }
    @media (max-width:575px){
        min-width: 150px;
        padding: 9px 32px;
    }
}

// Fix iframe
.videoWrapper{position:relative;padding-bottom:56.25%; /* 16:9 */height:0;}
.videoWrapper iframe,.videoWrapper object,.videoWrapper embed,.videoWrapper video{position:absolute;top:0;left:0;width:100%;height:auto;}

.ratio{
    &.-center{
        video{
            object-position: center;
            object-fit: cover;
        }

    }
}

/* Slider */

.flickity-watchCSS:after {
  content: 'flickity';
  display: none; /* hide :after */
}

@media screen and ( min-width: 768px ) {
  .flickity-watchCSS:after {
    content: '';
  }
}


.flickity:not(.-full) {
    --bs-gutter-x: 30px;
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);
    .slider-item__wrap{
        padding-right: calc(var(--bs-gutter-x) * .5);
        padding-left: calc(var(--bs-gutter-x) * .5);
    }

    @media (max-width:767px){
        .flickity-slider {
            transition: all .1s;
        }
    }
}


.flickity:not(.flickity-enabled) .slider-item__wrap + .slider-item__wrap {
    display: none;
}
.flickity-page-dots{
    bottom: -60px;
    z-index: 1;
    .dot {
        background: #ccc;
        opacity: 1;
        width: 100px;
        height: 1px;
        margin: 0;
        border-radius: 0;
        &.is-selected, &:hover{
            height: 5px;
            background: #F44369;
            opacity: 1;
        }
    }
    @media (max-width:767px){
        bottom: -40px;
        .dot {
            width: 60px;
        }
    }
    @media (max-width:575px){
        .dot {
            width: 32px;
            // height: 6px;
        }
    }
}
.flickity-button{
    --dn-position: -54px;
    width: 36px;
    height: 39px;
    padding: 0;
    z-index: 1;
    background: linear-gradient(85.15deg, #F44369 0%, #3D2DFF 152.74%);
    border-radius: 4px;
    opacity: 0.8;
    transform: scale(1);
    transition: all .5s;
    &:focus{
        box-shadow: none;
    }
    &:hover {
        opacity: 1;
        transform: scale(1.2);
        background: linear-gradient(85.15deg, #F44369 0%, #3D2DFF 152.74%);
    }
    &-icon {
        fill: #fff;
    }
    @media (min-width:576px){
        &.previous{
            left: 0;
        }
        &.next {
            right: 0;
        }
    }
}
// .flickity__wrap{
//     position: relative;
//     padding-bottom: 100px;
//     .flickity-page-dots {
//         bottom: -95px;
//     }

// }
// .flickity__slider__arrow{
//     position: absolute;
//     bottom: 0;
//     left: 0;
//     width: 100%;
//     padding: 0 200px;
//     display: flex;
//     justify-content: space-between;
// }
// .flickity__button{
//     position: relative;
//     min-height: 27px;
//     font-style: italic;
//     font-weight: bold;
//     font-size: 18px;
//     color: #FFFFFF;
//     cursor: pointer;
//     z-index: 2;
//     &.-prev{
//         padding-left: 40px;
//         &:before{
//             content: '\e900';
//             font-family: 'icomoon';
//             font-style: initial;
//             position: absolute;
//             top: 3px;
//             left: 15px;
//         }
//         &:after{
//             content: "\e902";
//             font-family: 'icomoon';
//             font-style: initial;
//             position: absolute;
//             top: 3px;
//             left: 0;
//         }
//     }
//     &.-next{
//         padding-right: 40px;
//         &:before{
//             content: '\e900';
//             font-family: 'icomoon';
//             font-style: initial;
//             position: absolute;
//             top: 3px;
//             right: 15px;
//         }
//         &:after{
//             content: "\e901";
//             font-family: 'icomoon';
//             font-style: initial;
//             position: absolute;
//             top: 3px;
//             right: 0;
//         }
//     }
//     &:hover{
//         &:before{
//             -webkit-animation: .75s ease-in-out infinite spinner-border;
//             animation: .75s ease-in-out infinite spinner-border;
//         }
//     }
// }

/* Fade CSS */

.flickity--fade {
    .slider-item__wrap{
        padding-right: calc(var(--bs-gutter-x) * .5);
        padding-left: calc(var(--bs-gutter-x) * .5);
        left: 0 !important;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        z-index: -1;
        &.is-selected {
          opacity: 1;
          z-index: 0
        }
    }
    .flickity-slider{
        transform: none !important;
    }
}

/**/
.dnfix__thumb{

    position:relative;height:auto;width:100%;overflow:hidden;display:block;padding-top:68.075%;
    transition:all 1000ms cubic-bezier(0.215,0.61,0.355,1);
    >*{
        margin:0px auto;
        position:absolute!important;
        width:100%;height:100%;top:0;left:0;object-fit:cover;
        transition:all 1000ms cubic-bezier(0.215,0.61,0.355,1);
    }
    &.-contain>*{
        object-fit:contain;
    }
}



/* Text truncate */
.text__truncate{overflow:hidden;text-overflow:ellipsis;display:-webkit-box;display:-webkit-inline-box;-webkit-box-orient:vertical;-webkit-line-clamp:1;}
.text__truncate.-n2{-webkit-line-clamp:2;}
.text__truncate.-n3{-webkit-line-clamp:3;}
.text__truncate.-n4{-webkit-line-clamp:4;}


/**/


@media (max-width: 1399px){
    .flickity__slider__arrow {
        padding: 0 50px;
    }
}
@media (max-width: 1199px){
    .flickity__button{
        span{
            display: none;
        }
    }
}
@media (max-width: 991px){
}

@media (max-width: 767px){
    body{
        --header-height: 49.9844px;
    }

}
@media (max-width: 575px){

    .flickity__slider__arrow {
        padding: 0;
    }
    .flickity__wrap {
        padding-bottom: 80px;
        .flickity-page-dots {
            bottom: -75px;
        }
    }
}

@media (min-width: 768px){
    .col-md-20{
        flex: 0 0 auto;
        width: 20%;
    }
}
@media (min-width: 992px){

    .col-lg-20{
        flex: 0 0 auto;
        width: 20%;
    }

}
@media (min-width: 1200px){
    .container {
        max-width: 1124px;
    }
    .container-900{
        max-width: 924px;
    }
    .row-cols-xl-8 > * {
        flex: 0 0 auto;
        width: 12.5%;
    }
    .col-xl-8col{
        width: 12.5%;
    }
}

@media (min-width: 1300px){
    .container{
        max-width: 1224px;
    }
    .container-900{
        max-width: 924px;
    }
}
@media (min-width: 1400px){
    .gx-xxl-100{
        --bs-gutter-x: 100px;
    }
    .container-xxl-1300{
        max-width: 1324px;
    }
}

@media (min-width: 1600px){
    .container{
        max-width: 1400px;
    }
    .container-900{
        max-width: 924px;
    }
    .container-xxl-1300{
        max-width: 1324px;
    }
}

@media (min-width: 1920px){

}