.sc-header{
    position:relative;margin:0 0 60px;
    z-index: 1;
    &__title{
        font-family: 'Be Vietnam Pro';
        font-weight: 600;
        font-size: 58px;
        line-height: 73px;
        color: #000;
        margin-bottom: 0;
    }
    &__sub{
        font-size: 28px;
        line-height: 44px;
        color: #000000;
    }
    &__excerpt{
        margin-top: 38px;
        color:#FFFFFF;
        font-size: 18px;
        line-height: 27px;
    }
    &__marquee{
        position: absolute;
        top: -60px;
        left: 0;
        font-family: 'Be Vietnam Pro';
        font-weight: 900;
        font-size: 300px;
        line-height: 300px;
        text-transform: uppercase;
        color: #FBFBFB;
        white-space: nowrap;
        z-index: -2;
        text-align: center;
    }
    @media (max-width:1599px){
        &__title {
            font-size: 50px;
            line-height: 64px;
        }
        &__sub {
            font-size: 26px;
            line-height: 42px;
        }
    }
    @media (max-width:1199px){
        &__title {
            font-size: 42px;
            line-height: 52px;
        }
        &__excerpt {
            margin-top: 24px;
        }
        &__sub {
            font-size: 20px;
            line-height: 32px;
        }
        &__marquee {
            font-size: 200px;
            line-height: 200px;
        }
    }
    @media (max-width:991px){
        &__title {
            font-size: 32px;
            line-height: 40px;
        }
        &__sub {
            font-size: 16px;
            line-height: 24px;
        }
        &__excerpt {
            margin-top: 16px;
            font-size: 14px;
            line-height: 24px;
        }

    }
    @media (max-width:767px){
        &__marquee {
            font-size: 140px;
            line-height: 140px;
            top: -40px;
        }
    }
    @media (max-width:575px){
        margin-bottom: 30px;
        &__title {
            font-size: 24px;
            line-height: 36px;
            + div{
                margin-top: 8px;
            }
        }
        &__excerpt{font-size:14px;}
    }
}


/**/
.nav-nft{
    margin-bottom: 32px;
    .nav-link{
        padding: 8px 24px;
        border: 1px solid #C7C7C7;
        border-radius: 100px;
        font-family: 'Be Vietnam Pro';
        font-weight: 600;
        font-size: 24px;
        line-height: 34px;
        text-transform: capitalize;
        color: #C7C7C7;
        margin: 0 12px;
        transition: all .5s;
        &.active, &:hover{
            color: #FFFFFF;
            background: linear-gradient(85.15deg, #F44369 0%, #3D2DFF 152.74%);
            border-color: transparent;
        }
    }
}


@media (max-width: 1199px){

}
@media (max-width: 575px){

}