[class^="icon-"], [class*=" icon-"] {
    position: relative;
	display: inline-block;
	&.-white{
		&:before{
			background-color: #fff;
		}
		&:hover{
			&:before{
				background-color: #FFECA7;
			}
		}
	}
    &:before{
        content: '';
        position: relative;
        display: inline-block;
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-position: center;
        -webkit-mask-size: contain;
        background-color: #666666;
        transition: color .5s;
    }
}
.icon{
	&-close:before{
        top: 2px;
        width: 20px;
        height: 20px;
        -webkit-mask-image: url(../img/icon-close.svg);
    }
	&-facebook:before{
		top: 2px;
	    width: 20px;
	    height: 20px;
	    -webkit-mask-image: url(../img/icon-facebook.svg);
	}
	&-facebook-circle:before{
		top: 2px;
	    width: 16px;
	    height: 16px;
	    -webkit-mask-image: url(../img/icon-facebook-circle.svg);
	}
	&-twitter:before{
		top: 2px;
	    width: 20px;
	    height: 20px;
	    -webkit-mask-image: url(../img/icon-twitter.svg);
	}
	&-twitter-circle:before{
		top: 2px;
	    width: 16px;
	    height: 16px;
	    -webkit-mask-image: url(../img/icon-twitter-circle.svg);
	}
	&-youtube-circle:before{
		top: 2px;
	    width: 16px;
	    height: 16px;
	    -webkit-mask-image: url(../img/icon-youtube-circle.svg);
	}
	&-linkedin:before{
		top: 2px;
	    width: 20px;
	    height: 20px;
	    -webkit-mask-image: url(../img/icon-linkedin.svg);
	}
	&-telegram-circle:before{
		top: 2px;
	    width: 16px;
	    height: 16px;
	    -webkit-mask-image: url(../img/icon-telegram-circle.svg);
	}
	&-medium-circle:before{
		top: 2px;
	    width: 16px;
	    height: 16px;
	    -webkit-mask-image: url(../img/icon-medium-circle.svg);
	}
	&-map-pin:before{
		top: 2px;
	    width: 20px;
	    height: 19px;
	    -webkit-mask-image: url(../img/icon-map-pin.svg);
	}

	&-arrow-left:before{
	    width: 12px;
	    height: 12px;
	    -webkit-mask-image: url(../img/icon-arrow-left.svg);
	    background-color: #868A96;
	}
	&-arrow-right:before{
	    width: 12px;
	    height: 12px;
	    -webkit-mask-image: url(../img/icon-arrow-right.svg);
	    background-color: #868A96;
	}


	&-arrow-left-circle:before{
	    width: 42px;
	    height: 42px;
	    -webkit-mask-image: url(../img/icon-arrow-left-circle.svg);
	    background-color: #fff;
	}
	&-arrow-right-circle:before{
	    width: 42px;
	    height: 42px;
	    -webkit-mask-image: url(../img/icon-arrow-right-circle.svg);
	    background-color: #fff;
	}

	&-clock:before{
		top: 1px;
	    width: 16px;
	    height: 16px;
	    -webkit-mask-image: url(../img/icon-clock.svg);
	    background-color: #868A96;
	}

	&-logo:before{
		top: 1px;
	    width: 21px;
	    height: 24px;
	    -webkit-mask-image: url(../img/icon-logo.svg);
	    background-color: #fff;
	}

	&-shoe:before{
		top: 1px;
	    width: 24px;
	    height: 24px;
	    -webkit-mask-image: url(../img/icon-shoe.svg);
	    background-color: #fff;
	}
	&-star:before{
		top: 1px;
	    width: 17px;
	    height: 16px;
	    -webkit-mask-image: url(../img/icon-star.svg);
	    background-color: #fff;
	}


}
